/* Background Official ND Blue */
body.blue {
  background-color: rgb(12,35,64);
}

body.green {
  background-color: rgb(10,132,61);
}

/* Color for White Text */
p.style-white-center {
	color: rgb(255,255,255);
	text-align: center;
	font-family: Garamond;
} 

/* Color for Official ND Gold Text */
p.style-gold-center {
	color: rgb(201,151,0);
	text-align: center;
} 

/* Color for Official ND Green */
p.style-green-center {
	color: rgb(10,132,61);
	text-align: center;
} 

/* Making a p class with 300% increase in font size */
p.large {
	font-size: 300%;
}

/* Outline for Blue filled, Gold Outline, White Text */
p.outline_bgw {
	border-style: solid;
	border-width: 5px;
	border-color: rgb(201,151,0);
	background-color: rgb(12,35,64);
	border-radius: 5px;
	color: rgb(255,255,255);
	text-align: center;
}